<%- include('partials/header') %>

	<main class="about">
		<h1 class="mb-5">Journalとは？</h1>
		<p class="mb-4">
			Journalは日記という意味です。<br>
			日々のできごとや小さな気づきをあなたなりの文章で発信するのはどうでしょう？<br>
			たくさんの人が日記のように日々のできごとを共有できる場になればうれしいです。
		</p>
		<a href="/register" class="btn btn-primary btn-lg">さっそく登録する</a>
	</main>

<%- include('partials/footer') %>