@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: 1.6rem 'M PLUS Rounded 1c', sans-serif;
}

#wrapper {
	height: 100vh;
	background: rgb(245, 245, 245);
}

li {
	list-style: none;
}

a {
	color: rgb(48, 52, 129);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: rgb(214, 230, 242);
}

.circled-image {
	width: 40px;
	height: 40px;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}

/* Header */
header {
	width: 100vw;
	padding: 10px 20px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	background: rgb(245, 245, 245);
}

header h1>a{
	font-size: 3rem;
	font-weight: bold;
}

header ul {
	display: flex;
}

header a {
	color: rgb(48, 52, 129);
}

header nav a {
	padding: 0 5px;
}

header nav {
	justify-content: flex-end;
}

/* Main */
main {
	display: block;
	padding: 0 5% 30px;
	z-index: 2;
	background: rgb(245, 245, 245);
}

main p {
	margin-bottom: 0;
}

/* Home */
.home .author {
	color: rgb(83, 85, 129);
} 

.home .author:hover{
	color: rgb(214, 230, 242);
} 

.home .btn-social_icon:before {
	position: absolute;
	top: -8px;
	left: 6px;
}

.home section div .card-body {
	padding: 0.5rem;
}

.home .media a {
	width: 40px;
}

.home .media-body p {
	color: rgb(83, 85, 129);
	font-size: 1.3rem;
}

/* About */
.about h1 {
	font-size: 2.5rem;
	font-weight: 600;
	color: rgb(48, 52, 129);
}

/* Post */
.post h1 {
	font-size: 2.8rem;
	font-weight: 600;
	color: rgb(48, 52, 129);
}

.post .image-container img {
	width: 100%;
	max-width: 600px;
	max-height: 350px;
	display: block;
	margin: 0 auto;
}

.post .media {
	margin-right: 5%;
	align-items: flex-end;
	justify-content: flex-end;
}

.post .media a p {
	font-size: 2.0rem;
	color: rgb(33, 37, 41);
}

.post .media a p:hover {
	color: rgb(214, 230, 242);
}

.post .media div>p {
	font-size: 1.3rem;
	color: rgb(150, 150, 150);
}

/* Author */
.author .media {
	align-items: flex-end;
}

.author .card-body p:first-of-type {
	color: rgb(83, 85, 129);
	font-size: 1.3rem;
	text-align: right;
}

/* Login */
.login i {
	line-height: 1.3 !important;
}

/* Register */
.register i{
	line-height: 1.3 !important;
}

/* Compose */
.compose .input-group .custom-file-label {
	color: rgb(150, 150, 150);
	font-size: 1.5rem;
}

/* Edit */
.edit .input-group .custom-file-label {
	color: rgb(150, 150, 150);
	font-size: 1.5rem;
}

/* Settings */
.settings .avatar {
	width: 100px;
	height: 100px;
}

.settings .custom-file-label {
	color: rgb(150, 150, 150);
	font-size: 1.5rem;
}

/* Footer */
footer {
	width: 100vw;
	position: fixed;
	bottom: 0;
	background-color: rgb(214, 230, 242);
}

footer section {
	margin-right: 10px;
	text-align: right;
}

footer a {
	color: rgb(255, 255, 255);
}